@{
    ViewBag.Title = "Bootstrap";
}

<div class="page-header">
    <h1>@ViewBag.Title <small>by Twitter&reg;</small></h1>
    <p>Sleek, intuitive, and powerful front-end framework for faster and easier web development.</p>
</div>

<ul>
    <li>
        <a href="http://github.com/twitter/bootstrap" target="_blank">GitHub project</a>
    </li>
    <li>
        @Html.ActionLink("Examples", "Examples")
    </li>
    <li>Version 2.3.2
    </li>
</ul>
